<div class="row g-4 my-4">
  <div class="col-sm-6 col-lg-3">
			<div class="small-card d-flex justify-content-between align-items-center p-4 shadow">
				<div
					[style.background-color]="'#F0F6F5'"
					class="icon p-2 d-flex justify-content-center align-items-center"
				>
					<i 
						class="fa-solid fa-utensils"
						[style.color]="'#3BB98A'"    
					></i>
				</div>

				<div class="text-end">
          			<p class="number my-2">{{ totalOrders }}</p>
				  	<p class="title">Total Orders</p>
        		</div>
			</div>
		</div>

		<div class="col-sm-6 col-lg-3">
			<div class="small-card d-flex justify-content-between align-items-center p-4 shadow">
				<div
					[style.background-color]="'#FFF7ED'"
					class="icon p-2 d-flex justify-content-center align-items-center"
				>
					<i 
						class="fa-solid fa-arrow-trend-up"
						[style.color]="'#F4A629'"
					></i>
				</div>

				<div class="text-end">
          			<p class="number my-2">{{ activeOrders }}</p>
				  	<p class="title">Active Orders</p>
        		</div>
			</div>
		</div>

		<div class="col-sm-6 col-lg-3">
			<div class="small-card d-flex justify-content-between align-items-center p-4 shadow">
				<div
					[style.background-color]="'#F0F6F5'"
					class="icon p-2 d-flex justify-content-center align-items-center"
				>
					<i 
						class="fa-regular fa-circle-check"
						[style.color]="'#3BB98A'"  
					></i>
				</div>

				<div class="text-end">
					<p class="number my-2">{{ completedOrders }}</p>
					<p class="title">Completed</p>
       			 </div>
			</div>
		</div>

		<div class="col-sm-6 col-lg-3">
			<div class="small-card d-flex justify-content-between align-items-center p-4 shadow">
				<div
					[style.background-color]="'#EFF6FF'"
					class="icon p-2 d-flex justify-content-center align-items-center"
				>
					<i 
						class="fa-solid fa-coins"
						[style.color]="'#3498DB'"
					></i>
				</div>

				<div class="text-end">
          			<p class="number my-2">{{ totalRevenue }} EGP</p>
				  	<p class="title">Revenue</p>
        		</div>
			</div>
		</div>
</div>